/*
	Facebook Sidebar Sample Interactive Animation
	@WillsB3
*/

@import 'bourbon/bourbon';

$deviceHeight: 568px;
$deviceWidth: 320px;
$sidebarWidth: 259px;
$statusBarHeight: 20px;
$topBarHeight: 44px;

html, body {
	background-color: #d2d5da;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

.viewport {
	height: 100%;
	min-height: 100%;
	position: relative;
	width: $deviceWidth;
}

.app {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: relative;
	width: $deviceWidth * 2;
}

.news-feed,
.sidebar {
	background-repeat: no-repeat;
}

.screen-content {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

.top-bar {
	@include retina-image("../img/TopBar", 320px $topBarHeight, png, "../img/TopBar_2x");
	height: $topBarHeight;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.news-feed {
	$newsFeedImageHeight: 2616px;
	padding-top: $topBarHeight;
	position: relative;

	.content-wrapper {
		-webkit-overflow-scrolling: touch;

		height: $deviceHeight - $statusBarHeight - $topBarHeight;
		overflow-y: auto;
		position: relative;
		z-index: 9;
	}

	.content {
		@include retina-image("../img/NewsFeed", 320px $newsFeedImageHeight, jpg, "../img/NewsFeed_2x");
		background-position: 0 0;
		background-repeat: no-repeat;
		height: $newsFeedImageHeight;
	}
}

.sidebar {
	$imageWidth: 259px;
	$imageHeight: 1404px;

	@include retina-image("../img/Sidebar", $imageWidth $imageHeight, png, "../img/Sidebar_2x");
	height: $imageHeight;
	left: -$sidebarWidth;
	position: absolute;
	top: 0;
	width: $sidebarWidth;
}