/*
	Facebook Sidebar Sample Interactive Animation
	@WillsB3
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000314}}
html, body {
  background-color: #d2d5da;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000321}}
.viewport {
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 320px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000328}}
.app {
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: relative;
  width: 640px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000337}}
.news-feed,
.sidebar {
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000341}}
.screen-content {
  left: 0;
  position: absolute;
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000347}}
.top-bar {
  background-image: url("../img/TopBar.png");
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000347}}
    .top-bar {
      background-image: url("../img/TopBar_2x.png");
      background-size: 320px 44px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000357}}
.news-feed {
  padding-top: 44px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000362}}
  .news-feed .content-wrapper {
    -webkit-overflow-scrolling: touch;
    height: 504px;
    overflow-y: auto;
    position: relative;
    z-index: 9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000371}}
  .news-feed .content {
    background-image: url("../img/NewsFeed.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 2616px;
    padding-bottom: 44px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000371}}
      .news-feed .content {
        background-image: url("../img/NewsFeed_2x.jpg");
        background-size: 320px 2616px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000381}}
.sidebar {
  background-image: url("../img/Sidebar.png");
  height: 1404px;
  left: -259px;
  position: absolute;
  top: 0;
  width: 259px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Wills\/Sites\/Projects\/Personal\/Interactive\%20CSS\%20Animations\/Samples\/Facebook\/scss\/facebook\.scss}line{font-family:\0000381}}
    .sidebar {
      background-image: url("../img/Sidebar_2x.png");
      background-size: 320px 1404px; } }
